body{
    background: #f88c33;
    font-family: roboto;
    text-align: center;
}

h1,h2{
    color: rgb(12, 0, 0);
}

.ketengah {
    margin: 10px auto;
    width: 1150px;
}

.kotak1 {
    background: #f7dfca;
    padding: 20px;
    float: left;
    margin: 20px;
    width: 150px;
    height: 150px;
}

.kotak2 {
    background: #fcbc81;
    padding: 20px;
    float: left;
    margin: 20px;
    width: 150px;
    height: 150px;
    -ms-transform: translate(50px,100px); /* Support IE 9 */ 
    -webkit-transform: translate(50px,100px); /* support Safari */ 
    transform: translate(50px,100px); /* Standard syntax */
}